.ball {
  padding:15px 15px;
  background-color: white;
  border-bottom: 1px solid whitesmoke;
  .ball_list {
    text-align:center;
    .ball_item {
      background:red;
      border-radius:50%;
      margin:0 20px;
      display:flex;
      .ball_img {
        width:90px;
        height:90px;
      }
    }
    .ball_name {
      font-size:0.8rem;
    }
  }
}