.recoMusic {
  padding: 20px 25px;
  margin-bottom: 20px; 
  border-radius: 30px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: white;
  .reco_title {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 10px 0 10px 0;
  }
  .swiperItem {
    display: flex;
    flex-direction: column;
    .reco_item:not(:nth-child(3n)) .reco_name {
      border-bottom: 0.5px solid gainsboro;
    }
    .reco_item {
      display: flex;
      width: 700px;
      margin: 8px 0;
      .reco_img {
        width: 105px;
        height: 105px;
        border-radius: 15px;
      }
      .reco_name {
        display: flex;
        align-items: center;
        margin-left: 30px;
        width: 75%;
        .song_name {
          font-size: 1.1rem;
          font-weight: 500;
        }
        .song_artists {
          font-size: 0.7rem;
          color: gray;
        }
      }
    }
  }
}