@import '../../../base.scss';
.recoMusic {
  padding: 20px 25px;
  margin-bottom: 20px; 
  border-radius: 30px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: white;
  .reco_title {
    font-size: $title-size;
    font-weight: 600;
    margin: 10px 0 10px 0;
    .more {
      font-size: 0.8rem;
      font-weight: 300;
      width: 100px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border: 1px solid gainsboro;
      border-radius: 30px;
      float: right;
    }
  }
  .swiperItem {
    display: flex;
    flex-direction: column;
    .reco_item:not(:nth-child(3n)) .reco_name {
      border-bottom: 0.5px solid gainsboro;
    }
    .reco_item {
      display: flex;
      width: 700px;
      margin: 8px 0;
      .reco_img {
        width: 105px;
        height: 105px;
        border-radius: 15px;
      }
      .reco_name {
        display: flex;
        align-items: center;
        margin-left: 30px;
        width: 75%;
        .reco_song {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          white-space:normal;
          .song_name {
            font-weight: 500;
          }
          .song_artists {
            font-size: 0.7rem;
            color: gray;
          }
        }
      }
    }
  }
}