.recoDj {
  padding: 20px 25px;
  margin-bottom: 20px; 
  border-radius: 30px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: white;
  .reco_title {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 10px 0 15px 0;
  }
  .reco_item {
    margin-right:20px;
    .item_img {
      border-radius: 50%;
      // background-color: black;
      height: 180px;
      margin-bottom: 8px;
      .reco_img {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        // opacity: 0.6;
      }
    }
    .reco_name {
      font-size: 0.7rem;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      white-space:nomal;
    }
  }
}