.list_detail {
  
  .info {
    padding: 30px 30px;
    display: flex;
    .info_img {
      width: 250px;
      height: 250px;
      border-radius: 20px;
      margin-right: 30px;
    }
    .info_name {
      width: 350px;
    }
  }
}