.recommend {
  padding:10px 20px;
  margin-bottom: 10px; 
  border-radius: 0 0 30px 30px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: white;
  .reco_title {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 10px 0 15px 0;
    .more {
      font-size: 0.8rem;
      font-weight: 300;
      width: 100px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border: 1px solid gainsboro;
      border-radius: 30px;
      float: right;
    }
  }
  .recommend_item { 
    width:190px;
    display:inline-block;
    margin-right:20px;
    .recommend_img {
      width: 180px;
      height: 180px;
      background: #fff;
      border-radius:5%
    }
    .reco_itemName {
      font-size: 0.7rem;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      white-space:nomal;
    }
  }
}